@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222222;
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1100px;
  text-align: center;
  margin: 2rem auto;
}

.container h1 {
  text-transform: uppercase;
}

.container h3 {
  text-transform: capitalize;
  margin: 1rem;
}

.table-container {
  padding: 3rem 2rem;
  border-radius: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 600;
}

td,
th {
  border: 1px solid #f1faee;
  text-align: center;
  padding: 1rem;
  color: #282b28;
  border-radius: 3px;
}

th {
  background: #545e75;
  color: #ddd;
  font-size: 1.2rem;
}

tr:nth-child(even) {
  background-color: #82a0bc;
}

td:nth-child(3),
td:nth-child(4) {
  cursor: pointer;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #282b28;
}

footer {
  font-weight: 500;
}
