* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background-color: #060ab2;
}
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  margin: 5px;
  width: calc(25% - 10px);
  height: calc(33.33% - 10px);
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  background: #1c7ccc;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}
