/* ####### GOOGLE FONTS ######## */
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

/* ##### UNIVERSAL SELECTOR ###### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0a3d62;
  font-family: 'Acme', sans-serif;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
  margin: 20px;
}
h1 {
  margin: 30px;
  text-shadow: 5px 5px white;
  font-size: 6rem;
  color: #f6b93b;
}
p {
  font-size: 2rem;
  color: #00b894;
  text-shadow: 1px 1px white;
}
button {
  padding: 10px 1rem;
  background-color: #00b894;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
}
